<div class="container">
    <header>
        <div class="nav-container">
            <nav class="navbar navbar-default">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="goto/goto/hub">The Hub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="goto/goto/techsupport">Technology Suppoort</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="goto/goto/hubconnect">Hub Connect</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="goto/goto/peoplesearch">People Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="goto/goto/intranetsearch">Intranet Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="goto/whoogle">Whoogle</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <img src="./assets/images/goto-logo.png" />
        </div>
        <div class="nav-container">
            <nav class="navbar navbar-default">
                <ul class="nav nav-pills">
                    <li class="nav-item ">
                        <a class="nav-link active" routerLink="/link">
                            Shorten Link
                            <img class="mx-auto d-block" src="./assets/images/scissors-small.png" />
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/key">
                            Manage Keys
                            <img class="mx-auto d-block" src="./assets/images/key-small.png" />
                        </a>
                    </li>
                    <li>
                        <div>
                            <a class="nav-link" routerLink="/dashboard">
                                Dashboard
                                <img class="mx-auto d-block" src="./assets//images/pie-chart-small.png" />
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="card">
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>